body {
  margin: 0;
  border: dashed 0px;
}

.header {
  margin-bottom: 100px;
  border: dashed 0px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 0px;
}

.logo, .menu {
  display: inline-block;
  border: dashed 0px;
}

.logo {
  width: 190px;
  height: 35px;
  border: dashed 0px;
  background: url('img/logo.svg');
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
  border: dashed 0px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content:'';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainImg.svg);
  border: dashed 0px;
}

.main__title {
  margin: 0 0 40px 0;
  font-family: PT serif;
  font-size: 66px;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle, .main__button {
  font-family: Roboto;
}

.main__subtitle {
  margin: 0 0 41px 0;
  font-size: 22px;
}

.main__button {
 display: inline-block;
 font: 14px/16px Roboto, arial, helvetica, sans-serif;
 color: #fff;
 background: #0056EC;
 padding: 14px 16px;
 text-decoration: none;
 transition: opacity .5s;
 -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

.main__button:hover {
 opacity: .5;
}
