body {
  margin: 0;
  border: dashed 0px;
}

.header {
  margin: auto;
  border: dashed 0px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 0px;
}

.logo, .menu {
  display: inline-block;
  border: dashed 0px;
}

.logo {
  width: 190px;
  height: 35px;
  border: dashed 1px red;
  background: url('img/logo.svg');
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  border: dashed 0px;
}

.menu__item:last-child {
  padding-right: 0;
}

.main-section {
  margin: auto;
  border: dashed 0px;
  margin-top: 60px;
}

.main-content__title {
  font-family: PT serif;
  font-size: 66px;
}

.main-content__subtitle, .main-content__button {
  font-family: Roboto;
}

.main-content__subtitle {
  font-size: 22px;
}

.main-content__button {
  font-size: 18px;
}
